<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="4">
  <test name="Leads">
    <classes>
      <class name="testcase.CreateLead"/>
      <class name="testcase.DuplicateLead"/>
    </classes>
  </test> <!-- Test -->	
  <!--  <test name="Accounts">
    <classes>
      <class name="testcase.CreateAccount"/>
      <class name="testcase.DuplicateAccount"/>
      <class name="testcase.EditAccounts"/>
    </classes>
  </test> Test -->
</suite> <!-- Suite -->
